<footer class="footer footer-center bg-base-200 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="/public/html/home.html">About us</a>
    <a class="link link-hover" href= "mailto:s69911@ocean.umt.edu.my">Contact</a>
    <a class="link link-hover" href="/public/html/catalog.html">Product</a>
    <a class="link link-hover" href="/public/html/Tips2.html">Guidance</a>
  </nav>
  <aside>
    <p>
      Copyright © 2025 - All right reserved by Azri and Team
    </p>
  </aside>
</footer>
